// breakpoints
$bp-tablet: 768px;
$bp-desktop: 900px;

// margins
$m-small: 0.5rem;
$m-medium: 1rem;

// radii
$r-small: 2rem;
$r-medium: 3rem;

// colours
$c-bg: #ffffff;
$c-primary: #00728f;
$c-secondary: #001a26;
$c-accent: #efb807;
$c-text-dark: #343434;
$c-text-light: #ffffff;
